services:
  ganache:
    image: trufflesuite/ganache
    command: ["--host","0.0.0.0"]
    ports:
      - "8545:8545"
    networks:
      - certnet

  hardhat:
    image: node:22
    working_dir: /workspace
    volumes:
      - ./dapp:/workspace
    networks:
      - certnet
    depends_on:
      - ganache
    command: >
      bash -lc "npm install && sleep infinity"

  client:
    image: node:22
    working_dir: /app
    volumes:
      - ./client:/app
    networks:
      - certnet
    command: >
      bash -lc "npm install && sleep infinity"

networks:
  certnet:
    driver: bridge
